* {
    margin: 0 auto;
    padding: 0;
}

html {
    background: #80dfff;
    user-select: none;
}

body {
    height: 100%;
    overflow: hidden;
   
}

canvas {
    position: relative;
}

#ui{ 
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    z-index: 1;
    pointer-events: none;
  }

  #left {
      background: green;
      height: 100%;
      width: 10%;
      float: left;
      pointer-events: all;
      text-align: center;
  }

  #left h2{
      background: beige;
      margin: 10px;
      padding: 10px;
  }

  #left table{
      width: 100%;
      padding: 10px;
  }

  #left table tr{
    cursor: pointer;
      text-align: center;
      height: 75px;
      background-color: beige;

  }

  #right {
      background: green;
      height: 100%;
      width: 10%;
      float: right;
      pointer-events: all;
      text-align: center;
  }

  #right h2{
      background: beige;
      margin: 10px;
      padding: 10px;
  }

  #right #hidden {
      display: none;
  }

  #right table{
      width: 100%;
      padding: 10px;
  }

  #right table tr{
    cursor: pointer;
      text-align: center;
      height: 75px;
      background-color: beige;

  }

  #top{
      position: absolute;
      background: green;
      height: 5%;
      width: 80%;
      left: 10%;
  }

  #top table{
      padding: 10px;
  }

  #top td:nth-child(3)  {
    padding: 0px 0px 0px 20px;
  }
  #top td:nth-child(5)  {
    padding: 0px 0px 0px 20px;
  }

  #bottom{
      position: absolute;
      background: green;
      height: 5%;
      width: 80%;
      left: 10%;
      bottom: 0;
      pointer-events: all;
     
    
  }

#options{
    float: right;
} 

  #options td{
    padding: 0px 20px;
    background: beige;
    border: 1px solid black;
    cursor: pointer;
  }
