* {
    margin: 0 auto;
    padding: 0;
}

html {
    background: #80dfff;
}

body {
    height: 100%;
    overflow: hidden;
   
}

canvas {
    position: relative;
}

#ui{ 
    position : absolute;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    z-index: 1;
    pointer-events: none;
  }

  #ui table{
      width: 100%;
      padding: 10px;
  }

  #ui table tr{
      text-align: center;
      height: 75px;
      background-color: beige;

  }

  #left {
      background: green;
      height: 100%;
      width: 10%;
      float: left;
      pointer-events: all;
      text-align: center;
  }

  #left h2{
      background: beige;
      margin: 10px;
      padding: 10px;
  }

  #right {
      background: green;
      height: 100%;
      width: 10%;
      float: right;
      pointer-events: all;
      text-align: center;
  }

  #right h2{
      background: beige;
      margin: 10px;
      padding: 10px;
  }

  #right #hidden {
      display: none;
  }

  #top{
      position: absolute;
      background: green;
      height: 5%;
      width: 80%;
      left: 10%;
    
  }

  #bottom{
      position: absolute;
      background: green;
      height: 5%;
      width: 80%;
      left: 10%;
      bottom: 0;
    
  }
